<div>
    <button pButton class="p-2 mb-4 mr-2" (click)="categoryTitle='';addCategoryPopup = true">Add a Category</button>
    <button pButton class="p-2 mb-4" (click)="copy2clip()">Copy to clipboard</button>
    <div class="grid grid-nogutter">
        <div *ngFor="let category of jsonData; let i = index" class="col-12 border-2 p-3">
            <div class="flex align-items-center m-2 gap-2">
                <div>{{category.title}}</div>
                <button pButton class="ml-auto p-2" (click)="resetProduct();selectedCategoryIndex=i;addProductPopup=true;">Add Product</button>
                <button pButton class="p-2" (click)="jsonData.splice(i);updateLocalStorage()">Delete Category</button>
            </div>
            <div class="grid grid-nogutter">
                <div *ngFor="let product of category.products; let j = index" class="col-12 border-2 my-1 p-3">
                    <div class="flex align-items-center gap-2">
                        <div class="mr-auto">{{ product.title }}</div>
                        <div *ngIf="product.pdf">{{ product.pdf }}</div>
                        <button pButton class="p-2" (click)="category.products.splice(j);updateLocalStorage()">Delete Product</button>
                    </div>
                   
                    <div *ngIf="product.types" class="mt-2">
                        <div>{{ product.types[0].title }}</div>
                        <div class="mb-2">{{ product.types[0].pdf }}</div>
                        <div>{{ product.types[1].title }}</div>
                        <div>{{ product.types[1].pdf }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p-dialog header="New Product in {{jsonData[selectedCategoryIndex]?.title}}" [(visible)]="addProductPopup" [modal]="true"  [style]="{width: '50vw'}">
    <div class="flex flex-column gap-2 p-3">
        <div class="flex gap-2">
            <label>Types</label>
            <p-inputSwitch [(ngModel)]="product.bool"></p-inputSwitch>
        </div>
        <input pInputText placeholder="Product title" class="py-2 mb-2" [(ngModel)]="product.title">
        <input pInputText placeholder="Product image" class="py-2 mb-2" [(ngModel)]="product.img">

        <div *ngIf="!product.bool">
            <input pInputText placeholder="PDF name" class="py-2 mb-2" [(ngModel)]="product.pdf">
        </div>

        <div class="flex flex-column" *ngIf="product.bool">
            <input pInputText placeholder="Type 1" class="py-2 mb-2" [(ngModel)]="product.types.type1_title">
            <input pInputText placeholder="PDF1 name" class="py-2 mb-2" [(ngModel)]="product.types.pdf1">
            <input pInputText placeholder="Type 2" class="py-2 mb-2" [(ngModel)]="product.types.type2_title">
            <input pInputText placeholder="PDF2 name" class="py-2 mb-2" [(ngModel)]="product.types.pdf2">
        </div>
        <button pButton class="ml-auto" style="height: 40px;" (click)="addProduct(selectedCategoryIndex)">Add</button>
    </div>
    
</p-dialog>

<p-dialog header="New Category" [modal]="true" [(visible)]="addCategoryPopup" [style]="{width: '50vw'}">
    <div class="py-2 flex">
        <input pInputText class="py-2 mb-2" [(ngModel)]="categoryTitle">
        <button pButton class="ml-auto" style="height: 40px;" (click)="addCategory()">Add</button>
    </div>
</p-dialog>