<div>
    <div class="text-5xl mb-4">
        Catalog
    </div>
    <div class="grid">
        <div class="col-2" *ngFor="let product of catalog">
            <div class="border-round-2xl qp-border h-10rem p-2 cursor-pointer" [routerLink]="'/pdfs/'+product.pdf">
                <div class="bg-center bg-cover border-round-lg qp-border h-5rem" style="background: url('/assets/imgs/{{product.img}}');"></div>
                <div class="py-3">
                    {{product.title}}
                </div>
            </div>
        </div>
    </div>
</div>