<div>
    <div class="text-5xl mb-4">
        Catalog
    </div>
    <div class="grid">
        <div class="col-12 border-round-2xl qp-border" *ngFor="let category of catalog">
            <div class="text-2xl p-3">{{category.title}}</div>
            <div class="grid">
                <div class="col-3 border-round-2xl qp-border m-3" *ngFor="let product of category.products">
                    <div class="cursor-pointer" [routerLink]="'/pdfs/'+product.pdf">
                        <div class="bg-center bg-cover border-round-lg qp-border h-8rem" style="background: url('assets/imgs/{{product.img}}');"></div>
                        <div class="text-base pt-3 p-2">{{product.title}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>